# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data (not tracked in version control)
data/raw/
data/processed/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
